.heading {
  margin-left: 10px;
}
.list-container {
  position: relative;
  margin-top: 70px;
  background-image: url("../../assets/images/travel.jpg");
  background-size: cover;
}
// .list-container::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: linear-gradient(#f00, #f0f);
//   clip-path: circle(30% at 10% 70%);
// }
.form-container {
  width: 100%;
  display: flex;
}
.form {
  width: 50%;
  margin-left: 10px;
}
.places-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 75vh;
  overflow-x: hidden;
}
.item-container {
  margin: 10px 0;
}
