.heading {
  margin-left: 10px;
}
.list-container {
  position: relative;
  margin-top: 70px;
}
.form-container {
  width: 100%;
  display: flex;
}
.form {
  width: 50%;
  margin-left: 10px;
}
.places-container {
  display: flex;
  flex-direction: column;
}
.item-container {
  margin: 10px 0;
}
